# Machine Learning on Sales Data

###### Data Source: Kaggle
###### Data: Video Game Sales Data

In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('vgsales.csv')

df.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [12]:
df.shape

(16598, 11)

### Get data

In [13]:
dfmusic = pd.read_csv('music.csv')

dfmusic.head(10)

   age  gender      genre
0   20       1     HipHop
1   23       1     HipHop
2   25       1     HipHop
3   26       1       Jazz
4   29       1       Jazz
5   30       1       Jazz
6   31       1  Classical
7   33       1  Classical
8   37       1  Classical
9   20       0      Dance

### Prepare data

In [28]:
from sklearn.tree import DecisionTreeClassifier
X = dfmusic.drop(columns=['genre'])
y = dfmusic['genre']

model = DecisionTreeClassifier()
model.fit(X,y)

predictions = model.predict([[21,1],[22,0]])

predictions

/opt/homebrew/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

### Test Data Model Accuracy

In [33]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

P = dfmusic.drop(columns=['genre'])
q = dfmusic['genre']

model = DecisionTreeClassifier()


P_train, P_test, q_train, q_test = train_test_split(P,q,test_size=0.2)

model.fit(P_train,q_train)
morepredictions = model.predict(P_test)

morepredictions

array(['Classical', 'Jazz', 'HipHop', 'Acoustic'], dtype=object)

In [35]:
from sklearn.metrics import accuracy_score
score = accuracy_score(q_test, morepredictions)
score

1.0

In [43]:
import joblib

# Save the model
joblib.dump(model, 'model.joblib')

['model.joblib']

In [44]:
from sklearn import tree

tree.export_graphviz(model, out_file='model.dot',
                     feature_names=['age','gender'],
                     class_names=sorted(q_train.unique()),
                     label='all',
                     rounded=True,
                     filled=True)